

header {
    background-color: $primary;


    .mainMenu {
            display: flex;
            justify-content: space-between;
            text-decoration: none;
            padding-top: 30px;

            a {
                color: $secondary;
                font-size: 1.5rem;
                
            }

            a:hover {
                border-bottom: 4px solid $secondary;
                
            }

        }
        
    }
    
