// css for sectionOne of the project

.introduction {
    background-color: $primary;

    .box1, .box2, .box3 {
        margin: 0;
        position: relative;
        height: 120px;
        width: 120px;
        border-radius: 50%;
    }

    .box1 {
        background-color: yellow;
        opacity: 0.4;
        left: 100px;
        top: 150px;
        
    }

    .box2 {
        background-color: orangered;
        opacity: 0.3;
        left: 1400px;
        top: 100px;
        
    }

    .box3 {
        background-color: #c57b57;
        opacity: 0.3;
        left: 700px;
        top: 500px;
        
    }

    .moteenRaza {
        display: flex;
        flex-direction: wrap;
        
    }

    .hey {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }


    h1 {
        margin: 0;
        color: $secondary;
        font-size: 5rem;
    }

    h2 {
        color: $primary;
        margin: 0;
        -webkit-text-stroke: 2px #e4e6c3;
        
        
    }

    h2:hover span {
        position: relative;
        
    }



    h2:hover span::after {
        content: "";
        position: absolute;
        height: 110%;
        width: 100%;
        background-color: $primary;
        border-left: 2px solid $secondary;
        left: 0;
        visibility: visible;
        animation: typing 3.5s steps(25) infinite;
    // this code was used from a youtube channel named CodingNepal
    }

    @keyframes typing {
        100% {
            left: 100%;
            margin: 0 -35px 0 35px;
            // this code was used from a youtube channel named CodingNepal
        }

      
    }
   
    .memoji {
        height: 520px;
        width: 550px;
        margin-left: 50px;
        position: relative;
        
    }
}