.sectionThree {
   background-color: #9e2a2b;
//    opacity: 0.9;
   padding: 60px;
   

   .skills {
    color: $secondary;
    text-align: center;
   }

   .skillContainer {
    display: flex;
    justify-content: space-around;
    font-size: 5rem;
    
   };

   a {
    color: #fefae0;
   }
}