// css for sectionTwo of the project

.sectionTwo {
    margin: 0;
    background-color: #fefae0;

    .aboutMe {


        .getToKnowMe {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
         
        img {
            background-color: black;
            height: 180px;
            width: 150px;
            border-radius: 40%;
            margin-left: 30px;
        }
        
        

        .info {
            font-family:$primaryFont;
            color: $primary;
        }

        .paragraph {
                font-size: 1.1rem;
                padding-bottom: 30px;
                
        }

    
        }
    }

}