.sectionThree {
   background-color: $primary;
   padding: 60px;
   

   .skills {
    color: $secondary;
    text-align: center;
   }

   .skillShow {
      transform: translateY(100px);
      opacity: 0;
      transition: 2s all ease;
   }

   .skillShow.active {
      transform: translateY(0);
      opacity: 1;
   }

   .skillContainer {
    display: flex;
    justify-content: space-around;
    font-size: 5rem;
    
   };

   .gitHub {
    color: #fefae0;
   }

   
}