// css for sectionThree of the project

.sectionThree {
   background-color: $primary;
   padding: 60px;
   

   .skills {
    color: $secondary;
    text-align: center;
   }

   .skillContainer {
    display: flex;
    justify-content: space-between;
    font-size: 5rem;
    
   };

   .icon {
      align-items: center;
      padding: 0px;
      margin: 0;
      
      .skillOne, .skillTwo, .skillThree, .skillFour, .skillFive, .skillSix, .skillSeven {
         font-size: 1.5rem;
         color: $primary;
      }

      .skillOne:hover, .skillTwo:hover, .skillThree:hover, .skillFour:hover, .skillFive:hover, .skillSix:hover, .skillSeven:hover {
         color: black;
         font-size: 1.6rem;
         transition: all 0.7s ease-out;
        }

      .skillOne {
         padding-left: 5px;
         background-color: orangered;
        }

        .skillTwo {
         padding-left: 22px;
         background-color: rgb(39, 164, 236);
        }

        .skillThree {
         padding-left: 10px;
         background-color: plum;
        }

        .javaScript {
         padding-left: 40px;
        }

        .skillFour {
         background-color: rgb(251, 247, 8);
        }

        .skillFive {
         background-color: skyblue;
        }

        .skillSix {
         background-color: #fefae0;
        }

        .skillSeven {
         background-color: orange;
        }

        .fireBase {
         padding-left: 20px;
        }



   }

 

   .gitHub {
    color: #fefae0;
   }

   
}