.sectionTwo {
    margin: 0;
    background-color: #fefae0;

    .aboutMe {
        display: flex;
        justify-content: space-between;

    .square {
        margin-top: 20px;
        margin-right: 130px;
        background-color: #656d4a;
        transform: rotate(50deg);
        border-radius: 20%;
        height: 400px;
        width: 1270px;
        

        .details {
            margin: 0;
            transform: rotate(-50deg);
            text-align: start;
            padding-top: 30px;
            padding-left: 30px;
            
            color: $secondary;
            font-weight: 700;
            font-size: 1.2rem;
            line-height: 50px;
            
        }

        .object, .string, .integer {
            color: $primary;
            font-weight: 700;
        }

    }

    .getToKnowMe {

        display: flex;
        flex-direction: column;
        text-align: start;

        .info {
            font-family:$primaryFont;
            color: $primary;
            text-align: start;
            
            }

        .paragraph {
                width: 85%;
                font-size: 1.2rem;
                
                
            }

    
        }
    }

}