html {
    font-size: 125%;
}

body {
    font-family: $secondaryFont;
}

h1, h2 {
    font-family: $primaryFont;
}

h2 {
    font-size: 4rem;
}

a {
   text-decoration: none;
}

p {
    font-family: $secondaryFont;
}