html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skipLink {
  background: white;
  color: black;
  font-size: 1rem;
  padding: 10px 0;
  position: absolute;
  left: -1000px;
  top: 0;
  z-index: 999;
}
.skipLink:focus {
  left: 0;
  right: 0;
  text-align: center;
}

html {
  font-size: 125%;
}

body {
  font-family: "Source Code Pro", monospace;
}

h1, h2 {
  font-family: "Arimo", sans-serif;
}

h2 {
  font-size: 4rem;
}

a {
  text-decoration: none;
}

p {
  font-family: "Source Code Pro", monospace;
}

.wrapper {
  max-width: 1480px;
  width: 90%;
  margin: 0 auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  display: block;
}

header {
  background-color: #121113;
}
header .mainMenu {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  padding-top: 30px;
}
header .mainMenu a {
  color: white;
  font-size: 1.5rem;
}
header .mainMenu a:hover {
  border-bottom: 4px solid white;
}

.introduction {
  background-color: #121113;
}
.introduction .box1, .introduction .box2, .introduction .box3 {
  margin: 0;
  position: relative;
  height: 120px;
  width: 120px;
  border-radius: 50%;
}
.introduction .box1 {
  background-color: yellow;
  opacity: 0.4;
  left: 100px;
  top: 150px;
}
.introduction .box2 {
  background-color: orangered;
  opacity: 0.3;
  left: 1000px;
  top: 100px;
}
.introduction .box3 {
  background-color: #c57b57;
  opacity: 0.3;
  left: 400px;
  top: 500px;
}
.introduction .moteenRaza {
  display: flex;
  flex-direction: wrap;
}
.introduction .hey {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.introduction h1 {
  margin: 0;
  color: white;
  font-size: 5rem;
}
.introduction h2 {
  color: #121113;
  margin: 0;
  -webkit-text-stroke: 2px #e4e6c3;
}
.introduction h2:hover span {
  position: relative;
}
.introduction h2:hover span::after {
  content: "";
  position: absolute;
  height: 110%;
  width: 100%;
  background-color: #121113;
  border-left: 2px solid white;
  left: 0;
  visibility: visible;
  animation: typing 3.5s steps(25) infinite;
}
@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}
.introduction .memoji {
  height: 520px;
  width: 550px;
  margin-left: 50px;
  position: relative;
}

.sectionTwo {
  margin: 0;
  background-color: #fefae0;
}
.sectionTwo .aboutMe .getToKnowMe {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.sectionTwo .aboutMe .getToKnowMe img {
  background-color: black;
  height: 180px;
  width: 150px;
  border-radius: 40%;
  margin-left: 30px;
}
.sectionTwo .aboutMe .getToKnowMe .info {
  font-family: "Arimo", sans-serif;
  color: #121113;
}
.sectionTwo .aboutMe .getToKnowMe .paragraph {
  font-size: 1.1rem;
  padding-bottom: 30px;
}

.sectionThree {
  background-color: #121113;
  padding: 60px;
}
.sectionThree .skills {
  color: white;
  text-align: center;
}
.sectionThree .skillContainer {
  display: flex;
  justify-content: space-between;
  font-size: 5rem;
}
.sectionThree .icon {
  align-items: center;
  padding: 0px;
  margin: 0;
}
.sectionThree .icon .skillOne, .sectionThree .icon .skillTwo, .sectionThree .icon .skillThree, .sectionThree .icon .skillFour, .sectionThree .icon .skillFive, .sectionThree .icon .skillSix, .sectionThree .icon .skillSeven {
  font-size: 1.5rem;
  color: #121113;
}
.sectionThree .icon .skillOne:hover, .sectionThree .icon .skillTwo:hover, .sectionThree .icon .skillThree:hover, .sectionThree .icon .skillFour:hover, .sectionThree .icon .skillFive:hover, .sectionThree .icon .skillSix:hover, .sectionThree .icon .skillSeven:hover {
  color: black;
  font-size: 1.6rem;
  transition: all 0.7s ease-out;
}
.sectionThree .icon .skillOne {
  padding-left: 5px;
  background-color: orangered;
}
.sectionThree .icon .skillTwo {
  padding-left: 22px;
  background-color: rgb(39, 164, 236);
}
.sectionThree .icon .skillThree {
  padding-left: 10px;
  background-color: plum;
}
.sectionThree .icon .javaScript {
  padding-left: 40px;
}
.sectionThree .icon .skillFour {
  background-color: rgb(251, 247, 8);
}
.sectionThree .icon .skillFive {
  background-color: skyblue;
}
.sectionThree .icon .skillSix {
  background-color: #fefae0;
}
.sectionThree .icon .skillSeven {
  background-color: orange;
}
.sectionThree .icon .fireBase {
  padding-left: 20px;
}
.sectionThree .gitHub {
  color: #fefae0;
}

.sectionFour {
  background-color: white;
  margin-top: 100px;
}
.sectionFour h2 {
  margin: 0;
  text-align: center;
  color: #121113;
}
.sectionFour .projectOne {
  background: #606c38;
  margin-top: 50px;
}
.sectionFour .projectOneContainer {
  display: flex;
  justify-content: space-around;
  padding: 60px 0px;
}
.sectionFour img {
  height: 350px;
  width: 550px;
  border: 10px solid black;
  border-radius: 25px;
}
.sectionFour .allAboutSophie {
  width: 40%;
}
.sectionFour .allAboutSophie h3 {
  color: white;
  font-family: "Arimo", sans-serif;
  font-size: 2rem;
  margin-top: 5px;
  margin-bottom: 0px;
}
.sectionFour .allAboutSophie p {
  margin: 2;
}
.sectionFour h4, .sectionFour p {
  color: white;
}
.sectionFour .clickHere {
  border: none;
  background-color: #121113;
  margin-right: 20px;
  cursor: pointer;
  height: 50px;
  font-size: 1.5rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition-duration: 0.3s;
  transition-property: box-shadow, transform;
}
.sectionFour .clickHere a {
  color: white;
  font-family: "Source Code Pro", monospace;
}
.sectionFour .clickHere:hover {
  box-shadow: 5px 5px 18px rgba(255, 254, 254, 0.9);
  transform: scale(1.1);
}
.sectionFour .madeUsingTitle {
  text-align: center;
  width: 50%;
  margin-top: 25px;
  margin-left: 50px;
}
.sectionFour .madeUsingIcons {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin-left: 50px;
}
.sectionFour .madeUsingIcons li {
  list-style: none;
}
.sectionFour .madeUsingIcons li i {
  font-size: 50px;
}
.sectionFour .projectTwo {
  background-color: #bc4749;
}
.sectionFour .projectTwo .projectTwoContainer {
  display: flex;
  justify-content: space-around;
  padding: 60px 0px;
}
.sectionFour .projectTwo .dadJokes {
  width: 40%;
  margin-top: 50px;
}
.sectionFour .projectTwo .dadJokes h3 {
  color: white;
  font-family: "Arimo", sans-serif;
  font-size: 2rem;
  margin-top: 5px;
  margin-bottom: 0px;
}
.sectionFour .projectTwo img {
  -o-object-fit: fill;
     object-fit: fill;
  height: 400px;
  width: 500px;
}
.sectionFour .projectThree {
  background-color: rgb(59, 193, 246);
}
.sectionFour .projectThree .projectThreeContainer {
  display: flex;
  padding: 60px 0px;
  justify-content: space-around;
}
.sectionFour .projectThree .weatherApp {
  width: 40%;
}
.sectionFour .projectThree h3 {
  color: white;
  font-family: "Arimo", sans-serif;
  font-size: 2rem;
  margin-top: 5px;
  margin-bottom: 0px;
}

.sectionFive {
  background-color: #fefae0;
  margin: 0;
}
.sectionFive h2 {
  margin: 0;
  padding-top: 50px;
  text-align: center;
}
.sectionFive .flexForm {
  display: flex;
  justify-content: space-around;
}
.sectionFive .textContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 50px;
  width: 30%;
}
.sectionFive .getInTouch {
  width: 45%;
  margin-top: 50px;
  line-height: 32px;
}
.sectionFive #name {
  height: 45px;
  border: 2px solid #121113;
  font-family: "Source Code Pro", monospace;
}
.sectionFive #emailAddress {
  height: 45px;
  border: 2px solid #121113;
  font-family: "Source Code Pro", monospace;
}
.sectionFive .flexCommentForm {
  display: flex;
  justify-content: space-around;
}
.sectionFive .commentForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sectionFive .commentForm #comment {
  border: 2px solid #121113;
  font-family: "Source Code Pro", monospace;
}
.sectionFive .commentForm .submitButton {
  border: none;
  background-color: #121113;
  margin-right: 20px;
  cursor: pointer;
  height: 50px;
  font-size: 1.5rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition-duration: 0.3s;
  transition-property: box-shadow, transform;
  color: white;
  font-family: "Source Code Pro", monospace;
  margin-top: 10px;
  width: 40%;
}
.sectionFive .commentForm .submitButton:hover {
  box-shadow: 5px 5px 18px rgba(255, 254, 254, 0.9);
  transform: scale(1.1);
}
.sectionFive .followMe {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  width: 45%;
}
.sectionFive .followMe h4 {
  font-size: 2rem;
}
.sectionFive .followIcons {
  display: flex;
  justify-content: space-between;
  width: 85%;
}
.sectionFive .followIcons li {
  list-style: none;
}
.sectionFive .followIcons i {
  font-size: 50px;
}
.sectionFive h3 {
  margin: 0;
  margin-top: 40px;
  padding-bottom: 20px;
  text-align: center;
}
.sectionFive h3 a {
  color: #121113;
}

footer {
  background-color: #121113;
}
footer h4 {
  margin: 0;
  padding: 20px;
  color: white;
  text-align: center;
}

@media (max-width: 1920px) {
  header .mobileMenu {
    visibility: hidden;
  }
}
@media (max-width: 1409px) {
  .introduction .box1, .introduction .box2, .introduction .box3 {
    height: 80px;
    width: 80px;
  }
  .box3 {
    top: 300px;
  }
  h2 {
    font-size: 3.5rem;
  }
  h1 {
    font-size: 4.5rem;
  }
}
@media (max-width: 1336px) {
  h1 {
    font-size: 4rem;
  }
}
@media (max-width: 1155px) {
  .introduction .box2 {
    left: 600px;
  }
  h2:hover span::after {
    display: none;
  }
}
@media (max-width: 1120px) {
  .introduction .hey {
    margin-top: 70px;
  }
  .introduction .hey h2 {
    font-size: 3rem;
  }
  .introduction .hey h1 {
    font-size: 3rem;
  }
}
@media (max-width: 1088px) {
  h2 {
    font-size: 2.5rem;
  }
  .sectionThree .skillContainer {
    font-size: 4rem;
  }
  .sectionFour .allAboutSophie {
    margin-left: 30px;
  }
  .sectionFour .allAboutSophie h3 {
    font-size: 1.7rem;
  }
  .dadJokes h3 {
    font-size: 1.7rem;
  }
}
@media (max-width: 1053px) {
  .introduction .hey h2 {
    font-size: 2rem;
  }
  .introduction .box3 {
    left: 200px;
  }
  .sectionFive .followMe h4 {
    font-size: 1.5rem;
  }
}
@media (max-width: 1050px) {
  .sectionFour img {
    width: 450px;
  }
  .sectionFour .projectTwo img {
    width: 400px;
  }
  .sectionFive .textContainer {
    width: 40%;
  }
}
@media (max-width: 1026px) {
  .introduction .box3 {
    left: 250px;
    top: 350px;
  }
  .introduction .memoji {
    height: 420px;
    width: 450px;
  }
  .sectionFour img {
    height: 350px;
    width: 450px;
  }
  .sectionFour .allAboutSophie h3 {
    font-size: 1.2rem;
  }
  .sectionFour .projectTwo .dadJokes h3 {
    font-size: 1.2rem;
  }
}
@media (max-width: 1007px) {
  .sectionThree .skillContainer {
    font-size: 3rem;
  }
  .sectionThree .icon .skillOne, .sectionThree .icon .skillTwo, .sectionThree .icon .skillThree, .sectionThree .icon .skillFour, .sectionThree .icon .skillFive, .sectionThree .icon .skillSix, .sectionThree .icon .skillSeven {
    font-size: 1rem;
  }
  .sectionThree .icon .skillTwo {
    padding-right: 15px;
  }
  .introduction .box3 {
    top: 400px;
  }
}
@media (max-width: 955px) {
  .sectionFour .clickHere {
    font-size: 1.2rem;
  }
}
@media (max-width: 919px) {
  .introduction .box1, .introduction .box2, .introduction .box3 {
    display: none;
  }
  .introduction .memoji {
    height: 380px;
    width: 450px;
  }
  .sectionTwo .aboutMe .getToKnowMe img {
    margin-top: 20px;
  }
  .sectionTwo .aboutMe .getToKnowMe .paragraph {
    font-size: 0.8rem;
  }
  .sectionThree .skillContainer {
    font-size: 3.5rem;
  }
  .sectionFour .clickHere {
    font-size: 1rem;
  }
}
@media (max-width: 856px) {
  .introduction .memoji {
    height: 350px;
    width: 350px;
  }
}
@media (max-width: 835px) {
  header .mainMenu {
    display: none;
  }
  header .mobileMenu .hamburger {
    padding-top: 20px;
    visibility: visible;
    color: white;
    font-size: 1.5rem;
  }
  .sectionTwo .aboutMe .getToKnowMe img {
    height: 150px;
    width: 120px;
  }
  .sectionFive .flexForm {
    flex-direction: column;
    align-items: center;
  }
  .sectionFive .textContainer {
    width: 60%;
  }
  .sectionFive .getInTouch {
    width: 60%;
  }
  .sectionFive .flexCommentForm {
    flex-direction: column;
  }
  .sectionFive .followMe {
    width: 100%;
    align-items: center;
  }
}/*# sourceMappingURL=styles.css.map */